body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;

    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 80px;

    color: #fff;
    text-shadow: 0 0 10px #26ADE4;

    background-color: #4DBCE9;
    border-bottom: 4px solid #26ADE4;
}

.small {
    font-size: 70px;
}

#center {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

canvas {
    cursor: crosshair;
    outline: none;
}

.disclaimer {
    text-align: center;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #aaa;
    text-align: center;
}

a {
    color: #26ADE4;
    text-decoration: none;
}
